body.indexpage {
    background-color: #F2E7D1ff;

}

nav {
    background-color: #D2E1E6ff;
}

a.nav-link {
    color: black;
    background-color: #6DA8C6;
    border: 1px #E69A3Aff;
    border-radius: 5px;
    margin-right: 8px;

}

a.nav-link:hover {
    color: black;
    background-color: #E69A3Aff;
    border: 1px #6DA8C6;
    border-radius: 5px;
    margin-right: 8px;

}

h1.mainheading {
    color: #DC4345ff;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight: bold;
}

.spintitle {
    padding-left: 24px;
}

img.d-block mx-lg-auto img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

myButton {
    align-items: center
}

.lead {
    font-family: 'Raleway';
    color: #847456ff;
}

button.btn {
    color: black;
    background-color: #6DA8C6;
    border: 1px #E69A3Aff;
}

button.btn:hover {
    color: #DC4345ff;
    background-color: #D2E1E6ff;
    border: 1px #DC4345ff;
}



p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
    color: #847456ff;
    font-weight: 400;
    text-align: justify;
}

    {
    box-sizing: border-box;
}

.column {
    float: justify;
    width: 28%;
    padding: 2px;
    margin-left: 3cm;
    text-align: justify;

}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container-fluid {
    padding: 1% 15% 1%;

}

.carousel-name {
    margin: auto;
    text-align: center;
    width: 60%;
}

.carousel-text {
    font-size: 1.5rem;
    margin: 2% auto;
    text-align: justify;
    width: 80%;
}

.carousel-item {
    padding: 5% 10%;
}

.go-to-stories {
    color: #E69A3Aff;
    text-align: right;
}

.previous {

    color: #847456ff;
    text-align: right;
    padding-bottom: 2%;
    padding-top: 3%;
    border: 1px #6DA8C6;
    text-size-adjust: h3;
}

.next {

    color: #847456ff;
    text-align: right;
    padding-bottom: 2%;
    padding-top: 3%;
    border: 1px #6DA8C6;
    text-size-adjust: h3;

}


/* Footer */

#footer {
    background-color: #6DA8C6;
    color: #983758;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    text-size-adjust: h5;
}

.sm-link {
    color: #dc4345;
    font-size: 2rem;
    line-height: 2;
    padding: 0% 1.5% 0%;
}


.sm-icon:hover {
    transform: scale(1.5);
}